CampusClientApplication/src/client/campus.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://com/" name="CampusServerService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/KKL?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="bookRoom">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="tns:campusID"/>
        <part name="arg2" type="xsd:int"/>
        <part name="arg3" type="xsd:string"/>
        <part name="arg4" type="tns:timeslot"/>
    </message>
    <message name="bookRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="createRoom">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:int"/>
        <part name="arg2" type="xsd:string"/>
        <part name="arg3" type="tns:timeslotArray"/>
    </message>
    <message name="createRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="deleteRoom">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:int"/>
        <part name="arg2" type="xsd:string"/>
        <part name="arg3" type="tns:timeslotArray"/>
    </message>
    <message name="deleteRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="cancelBooking">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="cancelBookingResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="changeReservation">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="tns:campusID"/>
        <part name="arg3" type="xsd:int"/>
        <part name="arg4" type="tns:timeslot"/>
    </message>
    <message name="changeReservationResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="getAvailableTimeSlot">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="getAvailableTimeSlotResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="getLocalAvailableTimeSlot"/>
    <message name="getLocalAvailableTimeSlotResponse">
        <part name="return" type="xsd:int"/>
    </message>
    <portType name="ServerInterface">
        <operation name="bookRoom" parameterOrder="arg0 arg1 arg2 arg3 arg4">
            <input wsam:Action="http://com/ServerInterface/bookRoomRequest" message="tns:bookRoom"/>
            <output wsam:Action="http://com/ServerInterface/bookRoomResponse" message="tns:bookRoomResponse"/>
        </operation>
        <operation name="createRoom" parameterOrder="arg0 arg1 arg2 arg3">
            <input wsam:Action="http://com/ServerInterface/createRoomRequest" message="tns:createRoom"/>
            <output wsam:Action="http://com/ServerInterface/createRoomResponse" message="tns:createRoomResponse"/>
        </operation>
        <operation name="deleteRoom" parameterOrder="arg0 arg1 arg2 arg3">
            <input wsam:Action="http://com/ServerInterface/deleteRoomRequest" message="tns:deleteRoom"/>
            <output wsam:Action="http://com/ServerInterface/deleteRoomResponse" message="tns:deleteRoomResponse"/>
        </operation>
        <operation name="cancelBooking" parameterOrder="arg0 arg1">
            <input wsam:Action="http://com/ServerInterface/cancelBookingRequest" message="tns:cancelBooking"/>
            <output wsam:Action="http://com/ServerInterface/cancelBookingResponse" message="tns:cancelBookingResponse"/>
        </operation>
        <operation name="changeReservation" parameterOrder="arg0 arg1 arg2 arg3 arg4">
            <input wsam:Action="http://com/ServerInterface/changeReservationRequest" message="tns:changeReservation"/>
            <output wsam:Action="http://com/ServerInterface/changeReservationResponse"
                    message="tns:changeReservationResponse"/>
        </operation>
        <operation name="getAvailableTimeSlot">
            <input wsam:Action="http://com/ServerInterface/getAvailableTimeSlotRequest"
                   message="tns:getAvailableTimeSlot"/>
            <output wsam:Action="http://com/ServerInterface/getAvailableTimeSlotResponse"
                    message="tns:getAvailableTimeSlotResponse"/>
        </operation>
        <operation name="getLocalAvailableTimeSlot">
            <input wsam:Action="http://com/ServerInterface/getLocalAvailableTimeSlotRequest"
                   message="tns:getLocalAvailableTimeSlot"/>
            <output wsam:Action="http://com/ServerInterface/getLocalAvailableTimeSlotResponse"
                    message="tns:getLocalAvailableTimeSlotResponse"/>
        </operation>
    </portType>
    <binding name="CampusServerPortBinding" type="tns:ServerInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="bookRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://com/"/>
            </output>
        </operation>
        <operation name="createRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://com/"/>
            </output>
        </operation>
        <operation name="deleteRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://com/"/>
            </output>
        </operation>
        <operation name="cancelBooking">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://com/"/>
            </output>
        </operation>
        <operation name="changeReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://com/"/>
            </output>
        </operation>
        <operation name="getAvailableTimeSlot">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://com/"/>
            </output>
        </operation>
        <operation name="getLocalAvailableTimeSlot">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://com/"/>
            </output>
        </operation>
    </binding>
    <service name="CampusServerService">
        <port name="KKLCampusServerPort" binding="tns:CampusServerPortBinding">
            <soap:address location="http://127.0.0.1:8080/KKL"/>
        </port>
        <port name="WSTCampusServerPort" binding="tns:CampusServerPortBinding">
            <soap:address location="http://127.0.0.1:8080/WST"/>
        </port>
        <port name="DVLCampusServerPort" binding="tns:CampusServerPortBinding">
            <soap:address location="http://127.0.0.1:8080/DVL"/>
        </port>
    </service>
</definitions>